body {
  margin: 0px;
}

.all {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
}

.login-area {
  margin-bottom: 50%;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content {
  width: 500px;
  margin-top: 10%;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}
